@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<div class="article-container">
    <div>
        <h2>
            TeamSync — ваш надійний помічник у керуванні командами та проєктами.
        </h2>
        <p>
            Ласкаво просимо до TeamSync — платформи, створеної для ефективної організації командної роботи та управління проєктами.
        </p>
    </div>

    <div>
        <h2>
            Що ми пропонуємо:
        </h2>
        <p>
            <ul>
                <li>Інтуїтивний інтерфейс: Простий та зручний дизайн дозволяє легко створювати та керувати завданнями, проектами і командами.</li>
                <li>Ролі користувачів: Адміністратор, менеджер чи учасник — кожен знайде своє місце в процесі.</li>
                <li>Співпраця в реальному часі: Відстежуйте дедлайни, коментуйте завдання та додавайте файли для більш ефективного спілкування.</li>
                <li>Аналітика та прогрес: Графіки, статистика і сповіщення допоможуть не пропустити жодної деталі.</li>
                <li>Безпека: Ваша інформація надійно захищена сучасними технологіями.</li>
            </ul>
        </p>
    </div>
    <div>
        <h2>
            Для кого підійде TeamSync:
        </h2>
        <p>
            <ul>
                <li>Для команд, що працюють над спільними проєктами.</li>
                <li>Для менеджерів, які хочуть тримати все під контролем.</li>
                <li>Для учасників, які цінують зручність та прозорість у виконанні завдань.</li>

            </ul>
        </p>
    </div>
    <div>
        @* Зробити посилання  *@
        <p>
            Об’єднуйте зусилля, досягайте цілей разом із TeamSync! 🚀<br />
            <a id="link_main" href="/user/register"><h2>РЕЄСТРУЙТЕСЯ</h2></a> прямо зараз і зробіть перший крок до продуктивної роботи вашої команди.
        </p>
    </div>
</div>
<div class="start-container">
    @{
        if (User.Identity.IsAuthenticated)
        {
            // Зробити посилання
            <h1><a id="link_main" href="">МОЇ ПРОЄКТИ</a></h1>
        }
        else
        {
            // Зробити посилання
            <h1>ДЛЯ ПОЧАТКУ РОБОТИ</h1>
            <a id="link_main" href=""><h1>АВТОРЕЗУЙТЕСЯ</h1></a>
        }

    }
</div>

